body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f4f6f8;
  direction: rtl;
}

header {
  background-color: #6c63ff;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}
